---
layout: page
title: Welcome to R15Cookie
tagline: There's always a cookie on the R15 resistor...
---
{% include JB/setup %}

<p>Welcome to the R15Cookie Blog!  This is Steve Miller's space for thoughts about DevOps, security, electronics, and other random topics.  The site is currently transitioning <a href="https://www.r15cookie.com/doku.php">from my old site.</a>  A full version history is also available on my <a href="https://github.com/avrgeek">Github page</a></p>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_string }}</span>
  </p>
  <div class="content">
    {{ post.content | truncatewords:75 }}
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


